{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="w-full h-64" id="accueil">
    <button id="prev" class=""><img url="/img/32213.png" class=""/></button>
    <img url={{ url }} id="img" alt="img"/>
    <button id="next" class=""></button>
</div>
<div class="mx-96 bg-pure-white">
    <div class="row" id="new">
        {% for newProd in newProds %}
            <div class="bg-white">
                <img class="" url={{ newProd.url }} alt="img"/>
                <button class="" id="add" type="button">Add</button>
                <button class="" id="detail" type="button">Détail</button>
            </div>
        {% endfor %}
    </div> 
    <h3 class="text-3xl text-gray-800 text-center mx-72 mb-4 pb-2 border-b-2 border-gray-800"> {{ 'welcome.whoarewe'|trans }} </h3> 
    <div class="bg-gray-900 rounded-lg p-8 border-[1px]">
        
        <p class="text-justify text-white">
            {{ 'welcome.message' | trans | raw }}
        </p>
    </div>
</div>
{% endblock %}
